.toggle {
	width: 100%;
	justify-content: flex-start;
	margin-bottom: 20px;
	&__button {
		padding: 5px 15px;
		background-color: transparent;
		border: none;
		outline: none;
		@include font(900, 16px);
		text-transform: uppercase;
		position: relative;
		&:hover {
			cursor: pointer;
		}
	}
}

@mixin pseudoButton {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: calc(100% + 3px);
	width: 100%;
	background-color: $color-purple;
	z-index: -1;
	transform-origin: 100%;
}

.goal-toggle {
	z-index: 1;
	&__button {
		background-color: $color-white;
		&--left {
			&:before {
				@include pseudoButton();
				transform: translateX(100%);
				transition: transform .5s cubic-bezier(.55,0,.1,1);
			}
		}
		&--right {
			&:before {
				@include pseudoButton();
				transform: translateX(-100%) scaleX(.5);
				transition: transform .5s cubic-bezier(.55,0,.1,1);
			}
		}
	}
	.goal-toggle__button--left.active {
		&:before {
			@include pseudoButton();
			transform: translateX(0px);
			transition: transform .5s cubic-bezier(.55,0,.1,1);
		}
	}
	.goal-toggle__button--right.active {
		&:before {
			@include pseudoButton();
			transform: translateX(0px) scaleX(1);
			transition: transform .5s cubic-bezier(.55,0,.1,1);
		}
	}
}