.item {
	box-sizing: border-box;
	padding: 10px 0px;
	width: 100%;
	display: grid;
	grid-template-columns: 35px auto 50px 50px;
	&__icon {
		align-self: flex-start;
		justify-self: flex-end;
	}
	.input {
		border: none;
		background-color: transparent;
		box-sizing: border-box;
		text-transform: uppercase;
		width: 100%;
		overflow: hidden;
		&:focus {
			outline: none;
		}
		&::placeholder {
			text-transform: uppercase;
		}
	}
}

.goal-item {
	.goal-input {
		@include font(900, 32px);
		color: $color-white;
	}
	&__icon {
		color: $color-white;
		font-size: 20px;
		&--hamburger {
			justify-self: flex-start;
			font-size: 24px;
			margin-top: 6px;
		}
		&--check {
			height: 33px;
			width: 35px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 2px;
			border-radius: 100%;
			background-color: $color-white;
			color: $color-purple;
		}
		&--chevron {
			height: 35px;
			width: 35px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			background-color: $color-white;
			color: $color-purple;
		}
	}
}

.goal-item.complete {
	.goal-input {
		color: #D1D1C7;
	}
	.goal-item__icon {
		color: #D1D1C7;
		&--check {
			background-color: transparent;
			color: #D1D1C7;
		}
		&--chevron {
			background-color: transparent;
			color: #D1D1C7;
		}
	}
}