.creator {
	background-color: transparent;
	box-sizing: border-box;
	text-transform: uppercase;
	padding: 15px;
	width: 100%;
	overflow: hidden;
	resize: none;
	vertical-align: middle;
	&:focus {
		outline: none;
	}
	&::placeholder {
		text-transform: uppercase;
	}
}

.goal-creator {
	@include font(900, 32px);
	color: $color-tan;
	border: dashed 5px $color-tan;
	&::placeholder {
		@include font(900, 32px);
		color: $color-tan;
	}
}

.subgoal-creator {
	padding: 10px;
	@include font(900, 28px);
	color: $color-purple-dark;
	border: dashed 4px $color-purple-dark;
	&::placeholder {
		@include font(900, 28px);
		color: $color-purple-dark;
	}
}

.ghost {
	opacity: 0.3;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;  
  visibility: hidden;
  position: absolute;
	top: 0;
}